.page-footer {
  flex-grow: 0; /* Прижимаем footer к низу страницы */
  flex-shrink: 0;
  flex-basis: auto;
  background-color: var(--basic-grey);
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 39px 10px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    padding: 55px 30px 61px;
  }

  @media (min-width: @desktop-width) {
    width: 1000px;
    padding: 57px 110px 58px;
  }
}

.page-footer__logo {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  margin-bottom: 22px;
  margin-top: 32px; /* Почему то ссылка - Логотип не дает задавать нижние и верхние margin. реагирует только на боковые. */

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social__list {
  display: flex;
  border-top: 1px solid var(--basic-light-grey);
  border-bottom: 1px solid var(--basic-light-grey);

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.social__item {
  margin-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-dark-grey);

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin-right: 22px;
  }
}

.copyright__logo-html-academy {
  width: 27px;
  height: 34px;

  &:hover {

  }
}
