.intro {
  background-color: var(--basic-green);
  opacity: 0.85;
  font-weight: 400;
  color: var(--basic-white);
  margin-bottom: 200px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: var(--basic-white);
    color: var(--basic-black);
  }

  @media (min-width: @desktop-width) {
    opacity: 0.85;
    background: linear-gradient(to right, var(--basic-white) 50%, var(--basic-green) 50%);
    padding-bottom: 167px;
    margin-bottom: 50px;
    margin-top: -1px;
    background-color: none;
  }
}

.intro__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 0 30px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

@media (min-width: @tablet-width) {
  .intro__block-1 {
    width: 414px;
    margin-left: 87px;
    margin-bottom: 526px;
  }
}

@media (min-width: @desktop-width) {
  .intro__block-1 {
    margin-bottom: 0;
  }
}
