.map {
  background-image: url("../../img/map.png"); /* Почему такая плохая четкость? На макете лучше */
  background-position: center;
  background-repeat: no-repeat;
  height: 362px;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/map-tablet.png");
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/map-desktop.png");
    height: 400px;
  }
}

.map__wrapper {
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding: 0 10px;
}

.map__marker {
  position: absolute;
  width: 57px;
  height: 53px;
  top: 140px;
  left: 115px;
}
