:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-green: #68b738;
  --basic-light-green: #5eaa2f;
  --basic-grey: #f2f2f2;
  --basic-red: #ff8282;
  --basic-light-grey: #d9d9d9;
  --basic-extra-light-grey: #e7e7e7;
  --basic-extra-light-grey-2: #666666;
  --basic-extra-light-grey-3: #bababa;
  --special-grey: #cdcdcd;
  --special-grey-1: #dcdcdc;
  --special-dark-grey: #444444;
  --special-dark-grey-2: #222222;
  --special-light-grey: #eaeaea;
  --special-light-grey-2: #ebebeb;
  --special-light-grey-3: #d3d3d3;
  --spcial-extra-light-grey: #e6e6e6;
  --special-light-black: #111111;
  --basic-background-color: #e5e5e5;
  --basic-background-color-2: rgba(255, 255, 255, 0.3);
  --shadow-color: rgba(0, 0, 0, 0.16);
  --shadow-color-2: rgba(0, 0, 0, 0.19);
  --shadow-color-3: rgba(0, 0, 0, 0.2);
  --shadow-color-4: rgb(0, 0, 0, 1);
  --shadow-color-5: rgba(68, 68, 68, 0.3);
}

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
