.form__item {
  margin: 0;
  margin-bottom: 21px;

  grid-area: six;

  @media (min-width: @tablet-width) {
    display: inline-block;
    margin-right: 61px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 568px;
    margin-right: 32px;
  }
}

.form__button {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    padding: 16px 64px;
  }
}

.form__note {
  font-size: 14px;
  text-transform: none;
  text-align: center;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 32px;

  grid-area: seven;

  @media (min-width: @tablet-width) {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    align-self: center;
    margin-bottom: 0;
  }
}
