.user-contact {
  color: var(--special-dark-grey);
  grid-area: three;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 69px;
    width: 1440px;
  }
}

.user-contact__item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;
  position: relative;
}

@media (min-width: @desktop-width) {
  .user-contact__item--mail {
    margin-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .user-contact__item--phone {
    margin-left: 50px;
  }
}

.user-contact__mail {
  width: 100px;
}

.user-contact__telephone {
  width: 140px;
}

.user-contact__field {
  width: 100%;
  padding: 15px;
  padding-right: 40px;
  border: 1px solid var(--basic-extra-light-grey);
  outline: none;

  &:hover {
    border: 1px solid var(--special-grey);
  }

  &:focus {
    border: 2px solid var(--special-dark-grey);
    border-radius: 0;
  }

  &:focus:invalid {
    border-color: 2px solid var(--basic-red);
  }
}

.user-contact__field--mail:focus + .user-contact__mail-icon {
  stroke: var(--basic-green);
}

.user-contact__field--mail:focus:invalid + .user-contact__mail-icon {
  stroke: var(--basic-red);
}

.user-contact__field--telephone:focus + .user-contact__telephone-icon {
  fill: var(--basic-green);
}

.user-contact__field--telephone:focus:invalid + .user-contact__telephone-icon {
  fill: var(--basic-red);
}

.user-contact__mail-icon {
  position: absolute;
  width: 20px;
  height: 15px;
  top: 19px;
  right: 12px;
  fill: none;
  stroke: var(--basic-black);
}

.user-contact__telephone-icon {
  position: absolute;
  right: 10px;
  top: 14px;
  width: 20px;
  height: 21px;
}
